@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    background: #494849;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

h1 {
    margin-bottom: 0;
    margin-top: 8px;
    margin-right: 64px;
    align-self: flex-end;
}

svg {
    background: linear-gradient(45deg, #41b2f4,#4286f4, #a341f4, #fc76e1);
    box-shadow: 0 14px 28px 
        rgba(0,0,0,0.25), 0 10px 10px 
        rgba(0,0,0,0.22);
}

rect:hover {
    fill: white;
}

.tooltip {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;            
    text-align: center;            
    width: 120px;                    
    height: 80px;                    
    padding: 2px;                
    font-size: 16px;
    background: #494849;    
    border-radius: 8px;            
    pointer-events: none;            
    box-shadow: 0 14px 28px 
        rgba(0,0,0,0.25), 0 10px 10px 
        rgba(0,0,0,0.22);
}

.date {
    font-size: 12px;
}

